@page "/"

<PageTitle>Home</PageTitle>

<h1>List of Students</h1>

<input @bind="studentText" placeholder="Add Student..."/>   
<input @bind="gradeText" placeholder="Add Grade..."/>

<button class="btn btn-primary" @onclick="AddStudent">Add Student and Grade</button> 

<ul> 
    @foreach (var student in student)
    {
        <li>@student.Name (@student.Grade)</li>
        var index = i;
        <li>
            @students[index]
            <button type="button" @onclick="@(() => RemoveStudent(index))">Remove</button> <!--knapp för att ta bort student (kallar på metoden RemoveStudent) -->
        </li>
    }
</ul>

@code
{
    private string studentText;  
    private string gradeText;


    private List<Student> student = new();
    private void AddStudent() 
    {
        if (!string.IsNullOrWhiteSpace(studentText))
        {
            student.Add(new Student
            {
                Name = studentText,
                Grade = gradeText
            });
            studentText = string.Empty;
            gradeText = string.Empty;
        }
    }
    public class Student
    {
    public string Name { get; set;  }
    public string Grade { get; set; }
    }


    private void RemoveStudent(int index) // metod för att ta bort student
    {
        if (index >= 0 && index < students.Count)
        {
            students.RemoveAt(index);
        }
    }
    
}
