@page "/"

<PageTitle>Home</PageTitle>

<h1>List of Students</h1>

<input @bind="studentText" placeholder="Add Student..."/>   
<input @bind="gradeText" placeholder="Add Grade..."/>

<button class="btn btn-primary" @onclick="AddStudent">Add Student and Grade</button>
<button class="btn btn-primary" @onclick="SortByName">Sort by name</button>
<button class="btn btn-primary" @onclick="SortByGrade">Sortera by grade</button>


<ul> 
    @for (int i = 0; i < student.Count; i++)
    {
        var index = i;
        <li>
            @student[index].Name (@student[index].Grade)
            <button type="button" @onclick="@(() => RemoveStudent(index))">Remove</button> <!--knapp för att ta bort student (kallar på metoden RemoveStudent) -->
        </li>
    }
</ul>

@code
{
    private string studentText;  
    private string gradeText;


    private List<Student> student = new();
    private void AddStudent() 
    {
        if (!string.IsNullOrWhiteSpace(studentText))
        {
            student.Add(new Student
            {
                Name = studentText,
                Grade = gradeText
            });
            studentText = string.Empty;
            gradeText = string.Empty;
        }
    }
    public class Student
    {
    public string Name { get; set;  }
    public string Grade { get; set; }
    }


    private void RemoveStudent(int index) // metod för att ta bort student
    {
        if (index >= 0 && index < student.Count)
        {
            student.RemoveAt(index);
        }
    }
    public void SortByName()
    {
        student = student.OrderBy(s => s.Name).ToList();
    }

    public void SortByGrade()
    {
        student = student.OrderBy(s => s.Grade).ToList();
    }
    
    
}
