@page "/"

<PageTitle>Home</PageTitle>

<h1>List of Students</h1>

<input @bind="studentText" placeholder="Add Student..."/>  <!-- fält där användaren skriver in student--> 
<button class="btn btn-primary" @onclick="AddStudent">Add Student</button> <!--knapp som lägger till student (kallar på metoden AddStudent) -->

<ul> <!--Listan som användaren ser -->
    @for (int i = 0; i < students.Count; i++) //for loop som går igenom och displayar listan
    {
        var index = i;
        <li>
            @students[index]
            <button type="button" @onclick="@(() => RemoveStudent(index))">Remove</button> <!--knapp för att ta bort student (kallar på metoden RemoveStudent) -->
        </li>
    }
</ul>

@code
{
    private string studentText;  //Variabel där användarens input sparas
    private List<string> students = new(); //Lista där studenter sparas

    private void AddStudent() //metod för att lägga till student
    {
        if (!string.IsNullOrWhiteSpace(studentText))
        {
            students.Add(studentText);
            studentText = string.Empty;
        }
    }

    private void RemoveStudent(int index) // metod för att ta bort student
    {
        if (index >= 0 && index < students.Count)
        {
            students.RemoveAt(index);
        }
    }
    
}
