@page "/"

<PageTitle>Home</PageTitle>

<h1>List of Students</h1>

<input @bind="studentText" placeholder="Add Student..."/>   
<input @bind="gradeText" placeholder="Add Grade..."/>

<button class="btn btn-primary" @onclick="AddStudent">Add Student and Grade</button> 

<ul> 
    @foreach (var student in student)
    {
        <li>@student.Name (@student.Grade)</li>
    }
</ul>

@code
{
    private string studentText;  
    private string gradeText;


    private List<Student> student = new();
    private void AddStudent() 
    {
        if (!string.IsNullOrWhiteSpace(studentText))
        {
            student.Add(new Student
            {
                Name = studentText,
                Grade = gradeText
            });
            studentText = string.Empty;
            gradeText = string.Empty;
        }
    }
    public class Student
    {
    public string Name { get; set;  }
    public string Grade { get; set; }
    }

}
